@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  appearance: 0;
  border: none;
  scroll-behavior: smooth;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #0f0f12f0;
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  background-color: #181a1e;
  /* background-image: url(IMG_8567.JPG); 
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center; */
 }

 header{
  display: flex;
  justify-content:space-between ;
  align-items: center;
  padding: 30px 10%;
  background-color: #ff0060;
 }

 .logo{
  cursor: pointer;
  margin-right: 5%;
 }
 .nav_links {
  list-style: none;
 }

 .nav_links li{
  display: inline-block;
  padding: 0px 20px;
  margin-right: auto;
  text-decoration-color: #3b3c3e;
 }

 .nav_list li a{
  transition: all 0.3s ease 0s;
 }

 .nav_list li a:hover{
  color: #0088a9;
 }
 
